doctype html5
html(lang="en")
- var i = 0;


  head
    title File Igloo
    link(rel="stylesheet", href="/style.css")

body
  include ./head.jade


  #api
    ul
      li
        h2 Basic API structure
        p Most of the API calls are structured around the file ID. The is can then be used to request details about the file, such as upload date, file type, size, comments, and of course the file itself.
        br
        p Furthermore it's also possible to request the latest new file entries or even the top voted entries of the day/week/month/year.

      li
        h2 File ID
        p The file id can be requested in a number of ways.
        h3 Lists of file IDs
        p By accessing "file-igloo.com/api/getFiles" it's possible to access our files in bulk. By default it return a list with the last 100 added files. You can refine your search by passing arguments such as "sortBy". E.g. "file-igloo.com/api/getFiles?sortBy=top" will return a list the 100 top files from the last 24 hours.

      li
        h2 Downloading files
        p You can download our files by accessing the api located at "file-igloo.com/api/download?id=123", where the argument "id" corresponds with the file id you want to download.

      li
        h2 Get upload time
        p Our api also supports getting the upload time in millis. We suggest you make use of one of the many librarires for converting this into an actual date if you 
