doctype html5
html(lang="en")
- var i = 0;


  head
    title File Igloo
    link(rel="stylesheet", href="/style.css")
    link(rel='stylesheet', href='../dropzone.css')

body
  include ./head.jade

  table
    thead
    tbody
      tr
        td


          #imageWrapper
            h1 #{file[0].title}



            a(href='/files/#{file[0].filename}')
              - if(/[^.]+$/.exec(file[0].filename) != "png"){
              img(src= "/file-icon1.png")
              - } else {
              img(src= "/files/#{file[0].filename}")
              - }




          #commentList
            td
              ul
                - for(comment in comments) {
                  - i++;



                - for(user in usernames) {
                  - if(usernames[user].id == comments[comment].user_id){
                      li
                        h1 #{usernames[user].username} says:
                  - }

                - }


                      p  #{comments[comment].comment_text}
                          #submenu
                            table
                              thead
                                tbody
                                  tr
                                    td
                                    //  a(href="delete/#{comments[comment].id}")
                                    //    font(color='gray') Reply
                                    td
                                      //a(href="delete/#{comments[comment].id}") Share

                                    td
                                      - if(comments[comment].user_id == pageData.id || pageData.id == 1){
                                      a(href="delete/#{comments[comment].id}" style="color:red;") Delete
                                      - }



                    - }
              if i == 0
                h3 No one has commented on this yet!
              p Share on:
              a.twitter-share-button(href='https://twitter.com/share', {count}='', data-text='TWEETTEXT', data-hashtags='fileigloo') Tweet
              script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
              br
              br
              - if (loggedIn){
                form(action="add", method="post")
                    input(type="hidden" name="file_id" value="#{file[0].id}")
                    input(type="hidden" name="user_id" value="1")
                    label Comment:
                    br
                    textarea(type="textarea", rows="5", columns="800", name="comment_text")
                    br
                    input(type="submit", value="Post comment")

              - }
  //a(href="/") Back
