nav
    ul
      li
        p FileIgloo
      li
        a(href='/') New
      li
        a(href='/top?time=day') Today
      li
        a(href='/top?time=week') Weekly
      li
        a(href='/top?time=month') Monthly
      li
        a(href='/top?time=year') Year
      li
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      - if (loggedIn){
          li
            a(href='/api') API
          li
            a(href='/upload') Upload
          li
            a(href='/profile') Profile
          li
            a(href='/logout') Sign Out
      - } else {
          li
            a(href='/login') Login
      - }
