doctype html5
html(lang="en")
- var i = 0


  head
    title File Igloo
    link(rel="stylesheet", href="/style.css")


  body
    include ./head.jade


    #fileList
      ul
          - for(index in files) {
              li
                table
                  tr
                    td

                      table
                        tr
                          //td
                            //a(href='/upvote/#{files[index].id}')
                              //img(src='/upvoted.png', alt='HTML tutorial', style='width:42px;height:42px;border:0;')
                          td

                          td
                            - if(/[^.]+$/.exec(files[index].filename) != "png"){
                              img(src= "/file-icon1.png")
                            - } else {
                              img(src= "/files/#{files[index].filename}")
                            - }


                    td
                      h3
                        a(href="/files/#{files[index].filename}" display="block") #{files[index].title}
                      #submenu
                        table
                          tr
                            td
                              - i=0
                              - for(comment in comments){
                                - if(comments[comment].file_id == files[index].id){
                                  - i++;
                                  - }
                              -}

                              a(href="comments/#{files[index].id}") #{i} Comments
                            td
                              - if(files[index].user_id == pageData.username || pageData.username == 1){
                                a(href="delete/#{files[index].id}" style="color:red;") Delete
                              - }
                            td




          - }
