doctype html5
html(lang="en")



  head
    title File Igloo
    link(rel="stylesheet", href="/style.css")


  body
    include ./head.jade

    h1 Login
    - if(error){
      p
        font(color='red') Wrong username or password
    - }
    form(action="login", method="post")
      label Username:
      br
      input(type="textarea", name="user")
      br
      label Password:
      br
      input(type="password", name="password")
      input(type="submit", value="Login")

    p
      d Don't have an account?
      a(href='/signup') Sign Up
