doctype html5
html(lang="en")



  head
    title File Igloo
    link(rel="stylesheet", href="/style.css")


  body
    include ./head.jade
    h1 Hello, #{pageData.username}
    p These are the files you've uploaded so far:

    #fileList
      ul
          - for(index in files) {
              li
                table
                  tr
                    td

                      table
                        tr
                          td
                            //p(style="font-size:20px") #{files[index].upvotes}
                          td
                            - if(/[^.]+$/.exec(files[index].filename) != "png"){
                              img(src= "/file-icon1.png")
                            - } else {
                              img(src= "/files/#{files[index].filename}")
                            - }


                    td
                      h3
                        a(href="/files/#{files[index].filename}" display="block") #{files[index].title}
                      #submenu
                        table
                          tr
                            td
                              a(href="comments/#{files[index].id}") Comments
                            td
                            //  a(href="share/#{files[index].id}") Share
                            td
                              a(href="delete/#{files[index].id}" style="color:red;") Delete



          - }
