doctype html5
html(lang="en")



  head
    title File Igloo
    link(rel="stylesheet", href="/style.css")


  body
    include ./head.jade
    h1 Sign Up
    - if(usernameerror){
      p
        font(color='red') Username taken
    - }
    - if(passworderror){
      p
        font(color='red') Please enter a password
    - }
    - if(usernameblank){
      p
        font(color='red') Please enter a username
    - }
    form(action="/signup", method="post")
      label Username:
      br
      input(type="textarea", name="user")
      br
      label Password:
      br
      input(type="password", name="password")
      input(type="submit", value="Sign up")
