@charset "utf-8";
body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 16px;
}

input {
	border: none;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 1.5em;
}


input[type="text"] {
	border-radius: 5px;
}


input[type="submit"] {
	border-radius: 10px;
	background-color: #0099ff ;
}

input[type="submit"]:hover {
	background-color: #000099;
}



ul {
	font-family: Helvetica;
	font-size: 18px;
}





<-- ul entries -->
#fileList div {
  margin: 20px;
}

#fileList ul {
  list-style-type: none;
  width: 500px;
}

#fileList h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#fileList, #submenu a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

#fileList h3 a {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
	color: #0099ff;
	text-decoration: none;
}

#fileList li img {
  float: left;
  margin: 0 15px 0 0;
	width: 50px
}

#fileList li p {
  font: 12px/1.5 Georgia, Times New Roman, serif;
}

#fileList li {
  padding: 10px;
  overflow: auto;
	border-radius: 5px;
}

#fileList li a{
	display: block;
}

#fileList li:hover {
	background: #151515;
  cursor: pointer;
	border-radius: 5px;
}

#commentList {
	overflow:hidden;
	//overflow-y:scroll;
	height:80%;
	width:100%;
}

#imageWrapper img {
	width:400px;
	margin-left: 20px;
	margin-top: 15%;
}

#imageWrapper h1 {
	width:400px;
	margin-left: 20px;
}

/* Navigation bar */
nav {
    background-color: #333;
    margin: 20;
    overflow: hidden;
		border-radius: 5px;

}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav > ul > li > p {
    color: #fff;
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
}



/* API documentation */
#api ul {
  list-style-type: none;
  width: 500px;
}
