doctype html5
html(lang="en")



  head
    title File Igloo
    link(rel="stylesheet", href="/style.css")


  body
    include ./head.jade
    form(action="upload", method="post", enctype="multipart/form-data")
      input(type="hidden" name="user_id" value="1")
      label File title:
      br
      input(type="textarea", name="title")
      br
      input(type="file", name="upload", id="fileUpload")
      input(type="submit", value="Upload")
